.experience{
    background-color: var(--color-bg);
    color: white;
    padding-top: 6rem;
}

.experience h2{
    font-size: 34px;
    font-weight: 700;
    padding: 1rem 0;
}

.experience-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.experience-card{
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
    &:hover {
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
    }
}

.experience-card .card-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-card .card-image{
    border-radius: 8px;
    height: auto;
}

.experience-card .card-text{
    padding: 1rem 0.5rem;

    h3{
        margin: 0.5rem 0;   
    }
}

.experience-card .card-details{
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .details-icon{
        margin-right: 10px;
        font-size: 20px;
        color: #6acaed;
    }
}

@media (max-width: 1200px){
    .experience-flex{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .experience-card{
        width: 370px;
    }
}

@media (max-width: 570px){
    .experience h2{
        text-align: center;
        font-size: 32px;
    }
}



