/* Product Experience Styling */
.experience{
    background-color: var(--color-bg);
    color: white;
    padding-top: 6rem;
}

.projects{
    padding-bottom: 6rem;
}

.experience h2{
    font-size: 34px;
    font-weight: 700;
    padding: 2rem 0;
}

.experience-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.experience-card{
    background-color: var(--dark);
    padding: 0.5rem;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
    &:hover {
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
    }
}

.experience-card .card-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-card .card-image{
    border-radius: 8px;
    height: auto;
}

.experience-card .card-text{
    padding: 1rem 0.5rem;

    h3{
        margin: 0.5rem 0;   
    }
}

.experience-card .card-text .btn {
    background-color: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem auto 0rem;
    width: 300px;

    &:hover{
        background-color: var(--secondary);
    }
}

#details-link:hover {
    color: white;
}

.experience-card .card-details{
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .details-icon{
        margin-right: 10px;
        font-size: 20px;
        color: #6acaed;
    }
}

@media (max-width: 1200px){
    .experience-flex{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .experience-card{
        width: 370px;
    }
}

@media (max-width: 570px){
    .experience h2{
        text-align: center;
        font-size: 32px;
    }
}

/* Web Development Styling */
.projects-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.project-card:nth-child(even) {
    flex-direction: row-reverse;

    .right-text{
        margin-left: 20px;
    }
}

.project-card{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--dark);
    border-radius: 8px;
    max-width: 800px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }
}

.project-card .left-img a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card .project-img{
    height: auto;
    border-radius: 8px;
}

.project-card .tech-stack-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-card .tech-pill{
    background: rgb(0, 48, 122);
    background: linear-gradient(90deg, rgba(0, 48, 122, 1) 0%, rgba(25, 55, 109, 1) 50%);
    margin: 5px;
    padding: 5px 8px;
    border-radius: 50px;
    font-size: 0.9rem;
}

.project-card .project-details-flex{
    display: flex;
    justify-content: end;
    margin: 5px 15px;
}

.project-details-flex .link:hover{
    color: white;
}

.project-card .project-btn{
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.project-card .source-btn{
    background-color: var(--primary);
    transition: ease 0.3s;

    &:hover{
        background-color: var(--secondary);
    }
}

.project-card .demo-btn{
    background-color: rgb(24, 158, 95);

    transition: ease 0.3s;
    
    &:hover {
        background-color: rgb(15, 101, 61);
    }
}

@media (max-width: 690px){
    .project-card{
        display: block;
        max-width: 350px;
    }

    .project-card .right-text{
        margin: 15px;
    }

    .project-card:nth-child(even) {

        .right-text {
            margin: 15px;
        }
    }
}