.experience-details{
    background-color: var(--color-bg);
    color: white;
}

.back-container{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 2rem;
    .back-icon{
        margin-right: 10px;
    }
}

.details-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-img-container .details-img{
    width: 350;
    height: auto;
    border-radius: 8px;
}

.experience-details .details-flex{
    background-color: var(--dark);
    border-radius: 12px;
    margin-top: 2rem;
    padding: 2.5rem;
}

.details-flex .quick-details{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

    .details-icon{
        font-size: 20px;
        color: #6acaed;
    }
}

.details-flex .details-highlights{
    list-style: square;
    margin-top: 5px;
    margin-left: 20px;

    li{
        margin-top: 10px;
    }
}

.skills-summary .skills-title{
    margin-top: 20px;
    margin-bottom: 10px;
}

.skills-summary .skills-list{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.skills-summary .skills-list li{
    display: flex;
    align-items: center;
    gap: 10px;

    .checkmark{
        color: #6acaed;
    }
}