footer{
    background-color: var(--color-bg);
    color: white;
    padding: 40px 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-source{
    display: flex;
    gap: 10px;
    align-items: center;
}