.hero {
    background-color: var(--color-bg);
    color: white;
    padding: 8rem 0 5rem;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0rem 4rem;
}

.text-content{
    flex: 1.5;
}

.text-content h1{
    font-size: 70px;
    margin-bottom: 1.3rem;
}

.text-content .text-summary{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.text-content .location-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.text-content .btn{
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.1rem;
    font-weight: 600;
}

.text-content #hero-btn:hover{
    color: white;
}

.text-content .btn:hover{
    background-color: var(--secondary);
}

.image-content{
    flex: 1;
    text-align: center;
}

.image-content .headshot-img{
    border-radius: 50%;
}

@media (max-width: 1150px){
    .text-content h1 {
        font-size: 50px;
        margin-bottom: 1.3rem;
    }
}

@media (max-width: 910px){
    .hero-content{
        flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content .location-container{
        justify-content: center;
    }

    .wave-emoji{
        display: none;
    }

    .text-content p{
        font-size: 1.4rem;
    }

    .text-content h1,
    .text-content p {
        text-align: center;
    }
}