nav {
    background-color: var(--color-bg);
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
}

.nav-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    li {
        font-size: 1.1rem;
    }
}

.hamburger-menu{
    display: none;
}

.mobile-menu{
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    background-color: var(--dark);
    transition: right 0.5s ease;
}

@media (max-width: 768px){
    .nav-menu-list{
        display: none;
    }

    .mobile-menu.active {
        right: 0;
    }

    .hamburger-menu{
        display: block;
    }

    .mobile-menu-list{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        li{
            width: 100%;
            text-align: center;
            border-radius: 10px;
            padding: 0.5rem 0;
        }

        li:hover{
            background-color: var(--color-bg);
        }
    }
}